extends layout

block content
  each val, index in images
    h1 index
    .container-fluid.carousel
      .carousel-item
        img(src = images[index][0])
      .carousel-item
        img(src = images[index][1])
      .carousel-item
        img(src = images[index][2])
      .carousel-item
        img(src = images[index][3])

    .description
      h1 #{movieInfo[index].Title}
      p #{movieInfo[index].Plot}

  h2 Ratings
  .chart
  //- .ratings
  //-   p.imdb.rating  IMDB Rating: #{movieInfo.imdbRating}
  //-   p.metascore.rating MetaScore: #{movieInfo.Metascore}
  //-   p.tomatoes-user.rating Rotten Tomatoes User Rating: #{movieInfo.tomatoUserRating}
  //-   p.tomatoes-critic.rating Rotten Tomatoes Critic Rating: #{movieInfo.tomatoRating}
  #legend
    p <strong>M</strong>etaScore
    p <strong>I</strong>mdb
    p.tomatoes Rotten<strong>T</strong>omatoes
    #rotten-tomatoes
      p.critic Critic
      p.user User

  form(action = '/movies/' method= 'POST')
    input.search(type='text' placeholder="Search for movies by title." 
    name ='titleName')
    input.button(type='submit')

  script(type='text/javascript') var movieInfo =!{JSON.stringify(movieInfo[0])}; 